@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Lato:400,700|PT+Sans+Narrow:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
}

p {
    color: #4a4d4f;
}

html,
body {
    height: 100%
}

body {
    color: #555555;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 1.7em;
}
$primary-color: #ca3d26;
// $primary-color: #8bc34a;
a:hover {
    text-decoration: none
}

.container-fluid {
    width: 86%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (max-width: 991px) {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}

/*----------------------------------*/
/*          Navigation
/*----------------------------------*/
%navigation {
    width: 100%;
    left: 0;
    padding: 0 120px;
    box-sizing: border-box;
    z-index: 999;
}

%logo {
    float: left;
    width: 20%;
    height: 80px;
    background-repeat: no-repeat;

    @media (max-width:991px) {
        width: 66%;
    }
}

%nav-inner {
    float: right;

    @media (max-width:991px) {
        position: absolute;
        top: 70px;
        left: -100%;
        height: calc(100vh - 70px);
        width: 100%;
        background: rgb(255, 255, 255);
        transition: 0.5s;

        &.active {
            left: 0;
        }

    }
}

%ul-content {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;

    @media (max-width:991px) {
        display: block;
        text-align: center;
        margin-top: 5%;
    }

    .btn {
        margin-top: 12px;
        color: #fff;
        border: 1px solid;
        height: 50px;
        line-height: 34px;
        margin-left: 19px;
        padding: 6px 25px;
        border-radius: 0;
        background-color: $primary-color;
        border: 1px solid $primary-color;
    }
}

%a {
    text-decoration: none;
    display: block;
    height: 70px;
    line-height: 70px;
    transition: 0.4s;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;

    @media (max-width:991px) {
        height: 48px;
        line-height: 48px;
    }

    @media (min-width:768px) and (max-width:991px) {
        height: 65px;
        line-height: 40px;
    }

    &:hover {
        text-decoration: none;
        color: $primary-color;
    }

    &.active {
        color: $primary-color;
    }

    @media (max-width:991px) {
        color: #000000;
    }
}

%menu-toggle {
    float: right;
    line-height: 70px;
    font-size: 22px;
    cursor: pointer;
    display: none;

    @media (max-width:991px) {
        display: block;
    }
}

.navigation {
    position: absolute;
    top: 15px;
    background: transparent;
    @extend %navigation;

    @media (max-width:991px) {
        padding: 0 20px;
    }

    .logo {
        background-image: url('../images/main_logo.png');
        @extend %logo;

    }

    nav {
        @extend %nav-inner;

        ul {
            @extend %ul-content;

            li {
                a {
                    color: #ffffff;
                    @extend %a;

                    @media (max-width:991px) {
                        color: #000;
                    }
                }

                &:not(:last-child) a {
                    padding: 0 18px;
                }

            }
        }
    }

    .menu-toggle {
        color: #ffffff;
        @extend %menu-toggle;
    }
}

/*----------------------------------*/
/*         Navigation Scroll
/*----------------------------------*/
.nav-scroll {
    position: fixed;
    top: 0;
    background: #ffffff;
    box-shadow: 1px 2px 15px gray;
    @extend %navigation;

    &::after {
        background: url(../images/tri-promo-bottom-white.png) repeat scroll 0 0;
        bottom: -7px;
        content: "";
        height: 7px;
        left: 0;
        opacity: 1;
        position: absolute;
        width: 100%;
        transition: 0.5s;
    }

    @media (max-width:991px) {
        padding: 0 20px;
    }

    .logo {
        background-image: url('../images/main_logo_black.png');
        margin-top: 10px;
        @extend %logo;
    }

    nav {
        margin-top: 12px;

        ul {
            li {
                a {
                    color: #1a1a1a;
                }
            }
        }
    }

    .menu-toggle {
        color: #000000;
    }
}

/*----------------------------------*/
/*           Header Slider
/*----------------------------------*/
.slider {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;

    @media (max-width:991px) {
        height: 100vh;
    }

    &::after {
        background: #000 url('../images/pattarn.png') repeat;
        content: "";
        height: 100%;
        left: 0;
        opacity: 0.6;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
    }



    .carousel-control-prev,
    .carousel-control-next {
        z-index: 998;
        opacity: 0.8;
        transition: 0.5s;

        &:hover {
            opacity: 1;
        }

        .fa {
            background-color: $primary-color;
            padding: 15px;

            @media (max-width:576px) {
                background-color: transparent;
            }
        }
    }

    .carousel-indicators {
        .active {
            opacity: 1;
        }

        li {
            box-sizing: content-box;
            flex: 0 1 auto;
            width: 12px;
            height: 12px;
            margin-right: 3px;
            margin-left: 3px;
            text-indent: -999px;
            cursor: pointer;
            background-color: #fff;
            background-clip: padding-box;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            opacity: .5;
            transition: opacity .6s ease;
        }

    }

    .carousel-inner {
        height: 100vh;

        @media (max-width:991px) {
            height: 100vh;
        }

        .carousel-item {
            img {
                width: 100%;
                height: 100vh;

            }

            .carousel-caption {
                position: absolute;
                right: 15%;
                top: 225px;
                left: 15%;
                z-index: 998;
                color: #fff;
                text-align: center;
                bottom: none !important;
                padding-top: 0;
                padding-bottom: 0;

                @media (max-width:576px) {
                    top: 200px;
                }

                @media (min-width:768px) and (max-width:991px) {
                    top: 340px;
                }

                h2 {
                    font-size: 90px;
                    font-family: 'Dancing Script', cursive;

                    @media (max-width:576px) {
                        font-size: 38px;
                    }

                    @media (min-width:768px) and (max-width:991px) {
                        font-size: 70px;
                    }
                }

                p {
                    font-size: 70px;
                    text-transform: uppercase;
                    font-family: 'PT Sans Narrow', sans-serif;
                    margin-top: 50px;
                    letter-spacing: 2.5px;
                    color: #ffffff;

                    @media (max-width:576px) {
                        font-size: 30px;
                        margin-top: 16px;
                        line-height: 1.1;
                    }

                    @media (min-width:768px) and (max-width:991px) {
                        font-size: 60px;
                        line-height: 1;
                    }
                }

                a {
                    display: inline-block;
                    padding: 10px 20px;
                    border: 1px solid #fff;
                    color: #fff;
                    text-decoration: none;
                    margin-top: 50px;
                    letter-spacing: 5px;
                    transition: 0.5s;

                    &:hover {
                        background-color: $primary-color;
                        border: 1px solid $primary-color;
                    }

                    @media (max-width:576px) {
                        padding: 3px 10px;
                        margin-top: 10px;
                        letter-spacing: 3px;
                        font-size: 11px;
                    }

                    @media (min-width:768px) and (max-width:991px) {
                        padding: 15px 25px;
                        font-size: 25px;
                        border: 2px solid #fff;
                    }
                }
            }
        }
    }
}

/*----------------------------------*/
/*         About Us Section
/*----------------------------------*/
%header-section {
    h2 {
        text-align: center;
        font-family: "Dancing Script", cursive;
        font-size: 70px;
        color: $primary-color;
        margin-bottom: 5px;

        @media (max-width: 576px) {
            font-size: 50px;
            margin-bottom: 0;
        }
    }

    img {
        display: block;
        margin: auto;
    }
}

#about {
    padding: 90px 0;
    background: rgba(0, 0, 0, 0) url(../images/home_three_about_bg.png) no-repeat scroll center bottom / contain;
    position: relative;

    &::before {
        background: url(../images/tri-promo-bottom-white.png) repeat scroll 0 0;
        top: -7px;
        content: "";
        height: 7px;
        left: 0;
        opacity: 1;
        position: absolute;
        width: 100%;
        z-index: 9;
        transform: rotateX(180deg);

    }

    &::after {
        background: url(../images/tri-promo-bottom-white.png) repeat scroll 0 0;
        bottom: -6px;
        content: "";
        height: 7px;
        left: 0;
        opacity: 1;
        position: absolute;
        width: 100%;
        z-index: 9;
        // transform: rotateX(180deg);

    }

    .header-txt {
        @extend %header-section;
    }

    .about-txt {
        padding: 65px 0;

        p {
            font-size: 17px;
            letter-spacing: 0.5px;
            line-height: 1.7;

            .big-text {
                float: left;
                font-size: 85px;
                font-weight: 700;
                margin-bottom: -4px;
                margin-right: 10px;
                line-height: 1;
            }
        }
    }

    .about-img {
        padding: 15px 0;

        img {
            display: block;
            margin: auto;
        }
    }

}

/*----------------------------------*/
/*         Package Section
/*----------------------------------*/
#package {
    z-index: -1;
    padding: 100px 0;
    background-image: url('../images/promotions_area_bg_1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    // background-attachment: fixed;
    width: 100%;

    &::after {
        content: '';
        background: #000000 url('../images/pattarn.png');
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.8;
        z-index: -1;
    }
}

.promotion {

    .header-txt {
        @extend %header-section;
        margin-bottom: 80px;

    }

    button:focus {
        outline: none;
        outline: none;
    }

    .owl-theme .owl-dots .owl-dot span {
        width: 12px;
        height: 12px;
        margin: 5px 7px;
        display: block;
        transition: opacity 200ms ease;
        border-radius: 0px;

    }

    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 25px;
    }

    .owl-theme .owl-dots .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span {
        background: $primary-color;
    }

    .promotion-section {
        position: relative;
        cursor: e-resize;
        .package-detail {
            width: 100%;
            max-height: 500px;

            img {
                width: 75%;

                @media (max-width:576px) {
                    width: 100%;
                }
            }
        }

        .offer-card {
            padding: 50px;
            background: #ffffff;
            position: absolute;
            width: 40%;
            top: 19%;
            right: 0%;
            @media (max-width:576px) {
                padding: 25px;
            }

            @media (min-width:576px) and (max-width:991px) {
                top: 0%;
            }

            h3 {
                color: #333;
                font-size: 32px;

                @media (max-width:576px) {
                    font-size: 20px;
                }
            }

            p {
                font-size: 18px;

                @media (max-width:576px) {
                    font-size: 15px;
                }
            }

            a {
                padding: 8px 25px;
                margin-top: 10px;
                font-weight: bold;
                border: 1px solid $primary-color;
                color: $primary-color;
                text-decoration: none;
                display: inline-block;
                letter-spacing: 1px;
                transition: 0.5s;

                &:hover {
                    background-color: $primary-color;
                    color: #ffffff;
                }
            }

            @media (max-width:576px) {
                position: static;
                width: 100%;
            }

        }
    }

}

/*----------------------------------*/
/*         Menu Section
/*----------------------------------*/
#menu {
    padding: 90px 0 100px;
    position: relative;

    .header-txt {
        @extend %header-section;
    }

    &::after {
        content: '';
        background-image: url('../images/tri-promo-bottom-white.png');
        background-repeat: repeat;
        position: absolute;
        top: -7px;
        left: 0;
        height: 7px;
        width: 100%;
        transform: rotate(180deg);
    }

    &::before {
        content: '';
        background-image: url('../images/tri-promo-bottom-white.png');
        background-repeat: repeat;
        position: absolute;
        bottom: -7px;
        left: 0;
        height: 7px;
        width: 100%;
    }

    .filter-btn {
        margin: 50px auto;

        .active_wrk {
            background-color: $primary-color;
            color: #ffffff;
            border: 1px solid $primary-color;
        }

        a {
            display: inline-block;
            padding: 7px 16px;
            color: rgb(0, 0, 0);
            text-decoration: none;
            border: 1px solid #000000;
            font-weight: bold;
            margin: 0 2px;
            transition: 0.4s;

            &:hover {
                background-color: $primary-color;
                color: #ffffff;
                border: 1px solid $primary-color;
            }

            &.active {
                color: green !important;
            }
        }
    }

    .items-detail {
        .filtr-container {
            .row1 {
                @media (max-width:576px) {
                    margin-right: -10px;
                    margin-left: 0px;
                }
            }

            .row2 {
                @media (max-width:576px) {
                    margin-left: 8px !important;
                }
            }

            .row3 {
                @media (max-width:576px) {
                    margin-left: 15px !important;
                }
            }
        }


        .menu-item {
            padding: 40px 0;
            border-bottom: 1px solid rgb(226, 226, 226);
        }

        .item-img {
            img {
                width: 100%;
                border: 8px solid rgba(0, 0, 0, .075);
            }
        }

        .item-name {
            font-family: "PT Sans Narrow", sans-serif;

            %med {
                @media (max-width:576px) {
                    font-size: 20px !important;
                    margin-top: 10px;
                    padding: 0 5px;
                }
            }

            h3 {
                font-size: 22px;
                color: #000000;
                font-weight: bold;
                @extend %med;


                span {
                    color: $primary-color;
                    font-size: 22px;
                    float: right;
                    @extend %med;
                }
            }

            p {
                font-size: 19px;
                color: #000000;
                margin-bottom: 6px;

                @media (max-width:576px) {
                    font-size: 17px;
                    ;
                }

                span {
                    display: inline-block;
                    width: 32%;
                }
            }
        }
    }
}

/*----------------------------------*/
/*         Book Now Section
/*----------------------------------*/
#book-now {
    padding: 100px 0;
    background-image: url('../images/promo_slide_3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: -1;

    &::after {
        content: '';
        position: absolute;
        background: url('../images/pattarn.png');
        width: 100%;
        height: 100%;
        top: 0;
        background-color: #000;
        opacity: 0.8;
        z-index: -1;
    }

    &::before {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        background: url('../images/tri-promo-bottom-white.png');
        width: 100%;
        height: 7px;
        transform: rotate(180deg);
    }

    .book-txt {
        padding: 65px;
        color: #ffffff;
        text-align: center;
        @media (max-width:576px) {
            padding: 0;
        }

        h2 {
            font-size: 55px;
            letter-spacing: 5px;
            @media (max-width:576px) {
                font-size: 25px;
            }
        }

        a {
            display: inline-block;
            padding: 10px 45px;
            background: #ffffff;
            color: $primary-color;
            text-decoration: none;
            letter-spacing: 3px;
            font-weight: bold;
            margin-top: 20px;
            transition: 0.4s;

            &:hover {
                background-color: $primary-color;
                color: #fff;
            }
        }
    }
}

/*----------------------------------*/
/*         Our Team Section
/*----------------------------------*/
#team {
    padding: 90px 0 100px;

    .header-txt {
        @extend %header-section;
    }

    .team-detail {
        .team-img {
            position: relative;
            transition: 0.5s;

            img {
                width: 100%;
            }

            &::after {
                background: #000 none repeat scroll 0 0;
                content: "";
                height: 100%;
                left: 0;
                opacity: 0;
                position: absolute;
                top: 0;
                -webkit-transition: all 0.3s ease 0s;
                transition: all 0.3s ease 0s;
                width: 100%;
            }
            .social-icons{
                position: absolute;
                top: 8%;
                right: -25%;
                z-index: 9;
                transition: 0.3s;
                transform: scale(0);
                ul{
                    list-style-type: none;
                    li{
                        a{
                            text-decoration: none;
                            display: inline-block;
                            padding: 15px 10px;
                            z-index: 999;
                            .fab{
                                font-size: 17px;
                                color: #ffffff;
                                transition: 0.4s;
                                &:hover{
                                    color: $primary-color;
                                }
                            }
                            
                        }
                    }
                }
            }
        }
        

        &:hover {
            .team-img {
                &::after {
                    background: #000 none repeat scroll 0 0;
                    content: "";
                    height: 100%;
                    left: 0;
                    opacity: 0.5;
                    position: absolute;
                    top: 0;
                    -webkit-transition: all 0.3s ease 0s;
                    transition: all 0.3s ease 0s;
                    width: 100%;
                }
            }
            .social-icons{
                position: absolute;
                top: 13%;
                right: 5%;
                z-index: 9;
                transform: scale(1.2, 1.2);
            }

        }
    }

    .team-txt {
        margin-top: 30px;
        text-align: center;

        h3 {
            font-size: 21px;
        }

        p {
            font-size: 16px;
            width: 90%;
            margin: auto;
        }
    }
}
/*----------------------------------*/
/*         Latest News
/*----------------------------------*/
#latest-news{
    padding: 90px 0 100px;
    background: url(../images/promotions_area_bg_3.jpg) no-repeat center scroll;
    background-size: cover;
    position: relative;
    z-index: -1;
    &::after{
        content: '';
        background: #000 url(../images/pattarn.png);
        opacity: 0.7;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .header-txt{
        @extend %header-section;
        margin-bottom: 60px;
    }
    .blog-content{
        .item{
            margin: 0 3px;
            cursor: e-resize;
            &:hover{
                .card-title{
                    color: $primary-color;
                }
            }
        }
        .card{
            border: none;
            border-radius: 0;
            
            .card-body{
                margin-top: 10px;
                text-align: center;
                .card-title{
                    font-weight: 500;
                    color: #000000;
                    font-size: 28px;
                    margin: 10px 0 15px;
                    
                }
                .dt{
                    margin-top: 30px;
                    span{
                        width: 45%;
                        display: inline-block;
                        font-size: 17px;
                        color: #333333;
                        cursor: pointer;
                        transition: 0.4s;
                        &:hover{
                            color: $primary-color;
                        }
                        @media (max-width: 576px) {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
/*----------------------------------*/
/*         Gallery Section
/*----------------------------------*/
#gallery{
    padding: 90px 0;
    .header-txt{
        @extend %header-section;
    }
    .img-gallery{
        margin-top: 50px;
        .img-container{
            margin-top: 10px;
            .img-thumbnail{
                border-radius: 0;
            }
        }
    }
}
/*----------------------------------*/
/*         Footer Section
/*----------------------------------*/